{% extends 'baze.html' %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<div class="log">
    <form method="post" class="form-log">
            {{ form.hidden_tag() }}
            <p>{{ form.username.label }} {{ form.username(class="form_window") }}</p>
            <p>{{ form.email.label }} {{ form.email(class="form_window") }}</p>
            <p>{{ form.password.label }} {{ form.password(class="form_window") }}</p>
            <p>{{ form.submit(class="form_button well") }}</p>
            <a href="{{url_for('registration')}}">Registration</a>
        </form>
</div>

{% endblock %}