{% extends 'baze.html' %}
{% block title %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<h1 class="home">Написано GHAT GPT 3.5</h1>
<p class="home">Добро пожаловать в мир Flask-а и его безграничных возможностей! Здесь мы пишем код с таким же вдохновением, как повара творят шедевры на кухне. Наша цель - не просто создавать веб-приложения, а погружаться в мир маршрутизации, шаблонов и, конечно же, прочих приятностей Python.

Наши эксперименты с Flask превратились в настоящий кулинарный фестиваль веб-разработки. Мы используем модули для создания динамичных веб-страниц, интегрируем базы данных так легко, как добавляем специи в блюда, и обеспечиваем безупречную работу приложений, как наш шеф-повар следит за каждой деталью блюда.

Здесь нет места скучным урокам! Мы делаем Flask-инг интересным, как серию фантастических книг. Присоединяйтесь к нам - вместе мы создадим не просто веб-приложения, а настоящие шедевры программирования с использованием всего, чем может похвастаться Flask!</p>
<p class="home" >Представлена: авторзация, html странички, работа с базой данных </p>

{% endblock %}